<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754062135744-ul1t60gbapup4j959p36fvcer1a8gq7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754062135744-ul1t60gbapup4j959p36fvcer1a8gq7m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>754062135744-3r9a2u3ku70bllj52oj72ts16j89tm32.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsE4ovw4JjVKedq6CPdVEz4UuLhWQEhyU</string>
	<key>GCM_SENDER_ID</key>
	<string>754062135744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imagetotext</string>
	<key>PROJECT_ID</key>
	<string>imagetohandwirttentext</string>
	<key>STORAGE_BUCKET</key>
	<string>imagetohandwirttentext.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754062135744:ios:20fa6daee32e3722127825</string>
</dict>
</plist>